.app-header {
  background-color: #026aa7;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;z
  // position: absolute;
  // left: 0;
  // right: 0;
  // z-index: 10;

  button:hover,
  a:hover,
  input:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  button {
    display: flex;
    align-items: center;
    padding: 6px 10px 6px 12px;
    border-radius: 0.185em;
    height: 2rem;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #026aa7;
    font-size: 0.9em;
    font-weight: 400;
  }

  button.create {
    margin-inline-start: 1em;
    background-color: rgba(0, 0, 0, 0.3);
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  .left-bar {
    display: flex;
    margin-inline-start: 2em;
  }

  a {
    display: flex;
    align-items: center;
    padding-inline-start: 6px;
    padding-inline-end: 6px;
    border-radius: 0.185em;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 700;
  }

  .right-bar {
    display: flex;
    gap: 0.2em;

    .user-avatar {
      height: 2rem;
      width: 2rem;
    }

    img {
      width: 100%;
      border-radius: 50%;
    }

    input {
      width: 12.5rem;
      background-color: rgba(255, 255, 255, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-radius: 5px;
      outline: none;

      &::placeholder {
        color: white;
      }
    }
  }
}
