.board-header {
  background-color: #0000003d;
  color: white;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0.25em 0.25em 0.75em;

  button {
    background-color: #ffffff3d;
    color: white;
    height: 2rem;
    border: none;
    border-radius: 0.185em;
    padding: 0.375em 0.75em;

    &:hover {
      background-color: #ffffff52;
    }
  }

  .left-nav {
    display: flex;
    gap: 0.3em;
    .divider {
      height: 1em;
      border-left: 1px solid #ffffff3d;
      margin: 8px 8px 12px 6px;
    }

    h1 {
      font-size: 1.125rem;
      line-height: 2;
      font-weight: 700;
    }

    .board-header-members {
      display: flex;
      gap: 10px;
      .avatar {
        > * {
          height: 2rem;
          width: 2rem;
          border-radius: 50%;
        }
      }
    }
  }

  .right-nav {
    display: flex;
    gap: 0.3em;

    &:last-child {
      margin-inline-end: 0.25em;
    }
  }
}
