.popup-cover {

    .colors {
        display: grid;
        gap: 8px;
        padding: 4px;
        margin: 0 -4px;
        overflow-x: hidden;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        .color {
            margin: 0;
            border-radius: 3px;
            height: 72px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: none;
            width: 50px;
            height: 32px;
            cursor: pointer;
            -webkit-appearance: none;
            border: none;
            border-radius: 3px;
            box-sizing: border-box;
            display: inline-block;
            line-height: 20px;
            margin-bottom: 8px;
            padding: 6px 12px;
            position: relative;
            text-decoration: none;
        }

    }

    .attachments-images {
        display: grid;
        grid-template-columns: repeat(3, 88px);
        gap: 5px;

        >* {
            margin: 0;
            //   width: 88px;
            height: 50px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat
        }
    }

    .unsplash {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 88px);
        gap: 5px;

        img {
            width: 88px;
            height: 48px;
            border-radius: 3px;
        }
    }

    .remove-cover-btn {
        width: 100%;
        -webkit-appearance: none;
        border: none;
        border-radius: 3px;
        box-sizing: border-box;
        display: inline-block;
        line-height: 20px;
        margin-bottom: 8px;
        padding: 6px 12px;
        position: relative;
        text-decoration: none;
        background-color: #091e420a;
        box-shadow: none;
        cursor: pointer;
        font-weight: 400;
        margin: 8px 4px 0 0;
        text-align: center;
        color: #172b4d;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
        font-size: 14px;
        text-transform: none;

        &:hover {
            background-color: #091e4214;
            border: none;
            box-shadow: none;
        }

    }
}