.task-details-container {
  z-index: 2;
  padding: 20px;
  border-radius: 0.2em;
  width: 700px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background-color: #f4f5f7;

  .header {
    display: flex;
    gap: 1em;

    input {
      background-color: #f4f5f7;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1em;
  gap: 0.5em;

  button {
    background-color: #091e420a;
    color: #172b4d;
    border: none;
    height: 2rem;
    width: 10.5rem;
    padding: 10px;
    font-size: 0.9em;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: rgba(9, 30, 66, 0.08);
    }
  }
}

.task-title {
  height: 2.5em;
  width: 90%;
  padding: 1em;
  border: none;
  outline: none;
}

.task-title:focus {
  box-shadow: inset 0 0 0 2px #0079bf;
}
