.task {
  background: #fff;
  border-radius: 3px;
  margin-block-end: .5rem;
  box-shadow: 0 1px 0 #c0c6d0;
  cursor: pointer;
  resize: none;

  &:hover {
    background-color: rgb(250, 250, 250);

    & .edit-task {
      opacity: .7;
    }
  }
}

.edit-task {
  display: flex;
  align-items: center;

  border-radius: 3px;
  height: 28px;
  justify-content: center;
  opacity: 0;
  padding: 4px;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 28px;
  z-index: 9;

  &:hover {
    color: black;
    background-color: #ebecf0;
  }
}




.task-content {
  padding: .5rem;
  padding-inline-end: .15rem;




  .labels-container {
    & li {
      border-radius: .25rem;
      margin-inline-end: rem(3px);
      margin-block-end: rem(3px);
    }

    &:hover {
      filter: brightness(0.85);
    }

    &.small-labels {
      & li {
        text-indent: -9999px;
        height: .5rem;
        width: 40px;

        transition: height .3s, min-width .8s;
      }
    }

    &.normal-labels {
      & li {
        font-size: rem(12px);
        font-weight: 700;
        height: 1rem;
        color: #fff;
        min-width: rem(56px);
        padding-inline: .5rem;
        transition: height .6s, min-width .3s;
      }
    }
  }


  & .task-badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-block-start: rem(10px);

    & .dueDate {
      &:hover{
          filter: brightness(0.85);
      }

      &.competed{
        background-color: #61bd4f;
        &:hover{
          background-color: #519839;
        }
      }
      background-color: #eb5a46;
      padding: rem(4px);
      height: rem(24.5px);
      min-width: rem(50px);
      border-radius: rem(3px);
      display: flex;
      & .icon{
       position: relative;
       top: rem(-5px);
        & .completed-icon{
          position: relative;
          top: rem(2px);
        }
      }
      & .complete-icon {
        display: inline-block;
      }

      & .duedate-span {
        color: white;
        padding-inline-start: 2px;
        padding-inline-end: 4px;

      }
    }

    & .badges {
      display: flex;
      align-items: center;
      gap: .5rem;

      & span {
        margin-inline-start: rem(2px);
        font-size: 12px;
        color: #5e6c84;

      }

      & svg {
        position: relative;
        top: 4px;

        &.atach {
          top: 4px;
        }

        &.desc,
        &.checklists {
          top: 2px;
        }

      }
    }
  }
}

.background-img-cover {
  min-height: 11rem;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  & .task-title {
    font-weight: 700;
    line-height: 20px;
    padding: .5rem;
  }

  &.shadow {
    & .background-cover-efect {
      height: 2rem;
      background: linear-gradient(180deg, #fff0, #ffffff80);
    }

    & .task-title {
      background: linear-gradient(180deg, #ffffff80, #fff);
      color: #172b4d;
    }
  }

  &.none-shadow {
    & .background-cover-efect {
      height: 2rem;
      background: linear-gradient(180deg, #0000, #00000080);
    }

    & .task-title {
      background: linear-gradient(180deg, #00000080, #000);
      color: white;
    }
  }

}

.background-color-cover {
  padding: 6px .5rem 2px .5rem;
}