// SETUP

// BASICS
@import 'basics/helpers';
@import 'cmps/task-details';
@import 'cmps/app-header';

// CMPS

// YUVAL SCSS
.group {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
  width: 100% !important;
}
