// SETUP

// BASICS
@import 'basics/helpers';

// CMPS
@import 'cmps/task-details';
@import 'cmps/app-header';
@import 'cmps/task-screen';
@import 'cmps/popup';
@import 'cmps/group-preview';
@import 'cmps/group-actions-modal.scss';
@import 'cmps/main-nav';
@import 'cmps/task-preview';
@import 'views/board-view.scss';

.app-header-sections {
    position: fixed;
    z-index: 20;
    width: 100w;
}
