.board-view {
  background-color: lightblue;
  width: 100%;
  height: 98vh;
  padding-top: 44px;
  overflow-x: scroll;
}

.add-new-group {
  height: fit-content;

  & .btn-add-group {
    height: 42px;
    padding: 11px 8px;
    background-color: #ffffff3d;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;

    transition: background-color 85ms ease-in;
    color: white;
    width: 250px;
    text-align: start;
    border-radius: 3px;
  }

  &:hover {
    background-color: #ffffff52;
  }

  & form {
    padding-inline-start: 0.25rem;
  }
}
