.board-view {
  width: 100%;
  height: 100vh;
  padding-top: 90px;
  overflow-x: auto;
  // overflow-y:hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.add-new-group {
  height: fit-content;

  & .btn-add-group {
    padding: rem(11px) rem(8px);
    margin-inline-start: .25rem;
    background-color: #ffffff3d;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;

    transition: background-color 85ms ease-in;
    color: white;
    width: rem(250px);
    text-align: start;
    border-radius: rem(3px);
  }

  &:hover {
    background-color: #ffffff52;
  }

  & form {
    padding-inline: .5rem;
    & input{
      margin-block: .5rem;
    }
  }
}
